<html>
  <head>
    <title>{{APP_NAME}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>

    <div class="splash-wrapper">
      <section class="splash">
        <h1 class="title">{{APP_NAME}}</h1>
        <h2 class="subtitle">{{APP_SUBTITLE}}</h2>
      </section>
    </div>

    <div class="section-wrapper">
      <section class="post-section">
        <ul class="post-list">
          {{#each posts}}
            <li class="post-list-item">
              <div class="post-title">{{this.title}}</div>
              <div class="post-body">
                <script>
                  document.write('{{this.body}}'.substring(0, 150));
                </script>
              </div>
              <div class="post-actions">
                <button class="read-more" onclick="document.location.href='/{{this.slug}}';">Read More</button>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    </div>

  </body>
</html>